h1, h2, h3, h4, h5, h6, p, a, em{
	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
h1, h2, h3{
	font-size: 40px !important;
	font-weight: 600 !important;
	font-style: bold !important;
}
.moa_acesso{
	background: url("../img/img-estoque-bg-2.jpg") no-repeat center center;
	background-size: cover;
}
.moa_acesso_painel{
	padding-top: 40px;
}
.moa_acesso_painel_init{
	background-color: #529f4d !important;
    border-color: #529f4d !important;
}
.moa_acesso_painel_init_logo img{
	width: 100%;
	max-width: 200px;
}
.panel-primary{
	border-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary{
	background-color: #529f4d;
    border-color: #529f4d;
}
.btn-primary:hover{
	background-color: #bcd134;
    border-color: #bcd134;
}
.btn-primary:active, .btn-primary:focus{
	background-color: #529f4d;
    border-color: #529f4d;
}
.moa_acesso_dev_moa{
	color: #fff;
	font-style: bold;
	font-weight: 300;
}
.moa_acesso_dev_moa a{
	color: #fff;
	text-decoration: none;
}
.moa_acesso_dev_moa a:hover{
	color: #ffce00;
}
.navbar-brand img{
	max-width: 200px;
}
.table, tr, td{
	border: 0 !important;
}

footer{
	margin-top: 40px;
}
footer a{
	color: #529f4d;
	text-decoration: none;
}
footer a:hover{
	color: #ffce00;
	text-decoration: none;
}
